extends layout

block content
  body(onload='initConfig()')
    div.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a(data-toggle='collapse', data-target='.navbar-collapse').btn.navbar-toggle
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/').navbar-brand #{title}
        div.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') FTP Browser
            li(id='downloadList')
              a.downloadBox(href='/downloadList') Download List
               span.pink(id='listCounterDownload') 0
            li(id='scanner')
              a.downloadBox(href='/scanner') Scanner
               span.blue(id='listCounterScanner') 0
            li
              a(href='/tvShows') Tv Shows 
            li
              a(href='/lostEpisodes') Lost Episodes  
            li.active
              a(href='/config') Config
            
    div.container
      div.col-md-7
        input.form-control(id='textTvShowPath', type='text', name='TvShowPath', placeholder='Tv Show Path')
      div.col-md-7
        input.form-control(id='textDownloadPath', type='text', name='DownloadPath', placeholder='Download Path')     
      div.col-md-7
        input.form-control(id='textDownloadList', type='text', name='DownloadList', placeholder='Download list path')
      div.col-md-7
        input.form-control(id='textDumpFile', type='text', name='DumpFilePath', placeholder='Dump file path')     
      div.col-md-7
        input.form-control(id='textMatchedTvShows', type='text', name='MatchedTvShows', placeholder='Matched Tv Shows file path')
      div.col-md-7
        input.form-control(id='textScannerList', type='text', name='ScannerList', placeholder='Scanner list path')
      div.col-md-7
        input.form-control(id='textStoredFtp', type='text', name='StoredFtp', placeholder='Stored Ftp credentials file ')
      div.col-md-7
        input.form-control(id='textIgnoreFromDownload', type='text', name='IgnoreFromDownload', placeholder='Ignore from Download e.g: sample,proof')
      div.col-md-1.col-md-offset-0
        .btn.btn-block.btn-primary(onclick='saveConfig()', value='Save') Save 
      div.col-md-2.col-md-offset-0
        .btn.btn-block.btn-primary(onclick='initConfigFiles()', value='Init') Create Files 
    div.footer