doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title=WebFtp
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/signin.css')
    link(rel='stylesheet', href='/bootstrap/css/tree.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js') 
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/functions.js')
  body
    block content